/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap");

/* Variable */
:root {
  /* Typography */
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Inter", sans-serif;

  /* Color */
  --primary-font-color: #181717;
  --second-font-color: #606060;
  --third-font-color: #2429af;

  /* Size */
  --heading-margin: 1rem 1.5rem;
  --text-sm: ;
  --text-md: ;
  --text-lg: ;
}

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* Header */
.header {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  position: fixed;
  width: 100vw;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--heading-margin);
}

.logo {
  font-size: 2.2rem;
}

.nav {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  padding-block: 5rem;
  background-color: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  transition: top 0.5s;
}

.nav__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--primary-font-color);
  font-weight: 500;
}

.nav__close {
  position: absolute;
  font-size: 2rem;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.nav__toggle {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav {
    position: initial;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  .nav__menu {
    flex-direction: row;
    row-gap: 0;
    column-gap: 2rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__close {
    display: none;
  }
}

/* Main */
.main {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  padding-top: 5.5rem;
  margin-inline: 1.5rem;
  display: grid;
  row-gap: 1rem;
}

.article h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.article p {
  text-align: justify;
}

.first__paragraph {
  margin-bottom: 1rem;
}

.aside img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    grid-template-columns: 60% 40%;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Footer */
.footer {
  margin-top: 1rem;
  text-align: center;
  font-family: var(--primary-font);
}
